<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New donation of $<%= @donation.amount %></h1>
    <p>
      You've received a new donation from <%= @donation.user.name %>.
    </p>
  </body>
</html>