<div class="container mt-5">
  <div class="row">
    <% @my_donations.each do |donation| %>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <%= link_to fundraiser_path(donation.fundraiser.id), class: 'nav-link' do %>
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title"><%= donation.fundraiser.name %></h5>
              <p class="card-text"><%= donation.message %></p>
              <p class="card-text"><strong>Amount:</strong> $<%= donation.amount %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>